.scoreBoard{
    width: 60%;
    background-color: bisque;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid purple;
    border-radius: 10px;
}



#topTitle{
    margin: 0px;
    text-align: center;
    padding: 15px 10px;
}

.score{
    height: fit-content;
    background-color: black;
    color:deeppink;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: 10px 10px;
}

.buttonCon{
    margin-top: 10px;
    text-align: center;
    justify-content: space-between;
}

.reset{
    display: block;
}

.buttons{
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    border: 1px solid purple;
    margin-right: 3px;
}